@import "../../../../styles/variable";

.chat-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-panel__name {
  width: 100%;
}

.chat-panel__top {
  display: flex;
  align-items: center;
  column-gap: $m;
  border-bottom: 1px solid $half-black;
  padding: $m;
}

.chat-panel__messages {
  flex-grow: 1;

  & .message {
    background: $light-black;
    margin: $m;
    padding: $m $m $l $m;
    width: 50%;
    border-radius: 0 5px 5px 5px;
    position: relative;

    &__username {
      position: absolute;
      bottom: $s;
      left: $m;
    }

    &__time {
      position: absolute;
      bottom: $s;
      right: $m;
    }
  }
}

.chat-panel__bottom {
  display: flex;
  align-items: flex-end;
  column-gap: $m;
  border-top: 1px solid $half-black;
  padding: $m;
}
