<div class='chat-panel__top'>
  <div class='avatar avatar__small'>А</div>
  <h3 class='chat-panel__name'>Название чата</h3>
  <button>⚙️</button>
</div>
<div class='chat-panel__messages'>
  <div class='message'>
    Здесь будут сообщения...
    <span class='message__username small-text'>@username</span>
    <span class='message__time small-text'>15:55</span>
  </div>
</div>
<div class='chat-panel__bottom'>
  <button>+</button>
  <input placeholder='Сообщение...' name='message'>
  <button>></button>
</div>
