<div class="avatar-template">
    {{#if nickname}}
        <p class="nickname">{{nickname}}</p>
    {{/if}}
    <div class="avatar">
        <p class="avatar__symbol">{{symbol}}</p>
    </div>
</div>
