<div class='chat-item'>
  <div class='chat-item__avatar'>A</div>
  <div class='chat-item__name'>{{name}}</div>
  <div class='chat-item__message-text'>{{message_text}}</div>
  <div class='chat-item__message-time small-text'>{{message_time}}</div>
  <div class='chat-item__count'>{{count}}</div>
</div>
