@import "../../../../styles/variable";

.chat-item {
  position: relative;
  padding: $s $s $s $xl;
}

.chat-item:hover {
  background: $light-black;
  cursor: pointer;
}

.chat-item__avatar {
  width: $l;
  height: $l;
  background: $black;
  border-radius: 5px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  margin: 2px 5px;
}

.chat-item__name {
  font-weight: bold;
}

.chat-item__message-text {
  color: $half-black;
}

.chat-item__message-time {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 10px 0 0;
}

.chat-item__count {
  width: $l;
  height: $m;
  background: $black;
  border-radius: 2px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: $s;
  margin: 0 10px 10px 0;
}
