<div class='chat__photo circle'></div>
<div class='chat__name'>{{name}}</div>
<div class='chat__message-time'>{{message_time}}</div>
<div class='chat__message-text'>{{message_text}}</div>
<div class='chat__message-count circle'>{{message_count}}</div>
