<main id="main-content">
    <div class="wrapper">
        <div class="chat-template">
            {{> title title="ЗДЕСЬ БУДЕТ ЧАТ"}}
            <nav class="menu">
                {{> link href="/profile" text="Страница профиля"}}
                {{> link href="/profile-edit" text="Страница редактирования профиля"}}
                {{> link href="/404" text="Страница 404"}}
                {{> link href="/500" text="Страница 500"}}
                {{> link href="/signin" text="Вернуться на главную"}}
            </nav>
        </div>
    </div>
</main>
