<div class="wrapper">
    <div class="form-template">
        {{> title title="МОЙ ПРОФИЛЬ"}}
        {{> avatar nickname="@thevolkov" symbol="И"}}
        <div class="profile__value">
            <span class="small-text">Имя</span>
            <p>Игорь</p>
        </div>
        <div class="profile__value">
            <span class="small-text">Фамилия</span>
            <p>Волков</p>
        </div>
        <div class="profile__value">
            <span class="small-text">Логин</span>
            <p>thevolkov</p>
        </div>
        <div class="profile__value">
            <span class="small-text">Телефон</span>
            <p>+7-999-888-77-66</p>
        </div>
        {{> link href="/profile-edit" text="РЕДАКТИРОВАТЬ ПРОФИЛЬ" class="link__black"}}
        {{> link href="/signin" text="Назад"}}
        {{> link href="/signin" text="Выйти" class="link__red"}}
    </div>
</div>