@import "src/styles/variable";

.profile {
  &__value {
    text-align: center;

    p {
      margin: 0;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
