<div class="wrapper">
    <div class="error-template">
        {{> title title="ЧАТ СЛОМАЛСЯ" subtitle="Мы уже работаем над устранением проблемы" code="500" class="title__error"}}
        {{> link href="/signin" text="Вернуться на главную"}}
    </div>
</div>