@import "variable";
@import "../components/chat/chat";
@import "../components/leftpanel/leftpanel";
@import "../components/rightpanel/rightpanel";
@import "../pages/login/login";
@import "../pages/profile/profile";
@import "../pages/signup/signup";
@import "../pages/user/user";
@import "../pages/error/error";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

html {
  font-family: "PT Sans", serif;
  box-sizing: border-box;
  color: $black;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: $l;
  margin: 0 0 $l 0;
  font-family: Bitter, serif;
  font-weight: 700;
}

main {
  margin: auto;
}

li {
  text-align: center;
  list-style: none;
  padding-bottom: $m;

  & a {
    color: $black;
    text-decoration: underline;
  }
}

span {
  color: $dark-red;
  font-size: $m;
}

button {
  background-color: $black;
  border: none;
  border-radius: 12px;
  color: white;
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
  margin: $s 0;
  cursor: pointer;
}

form {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: fit-content;
}

input {
  border: hidden;
  border-bottom: 1px solid $black;
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
  outline: none;
}

.position {
  &__relative {
    position: relative;
  }

  &__absolute {
    position: absolute;
  }
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.form-template {
  width: 350px;
}

.error-template {
  position: relative;
}

.small-text {
  font-size: $s;
  color: $half-black;
}

.double-button {
  display: inline-flex;
  width: 100%;

  :first-of-type {
    margin-right: $s;
  }
}

.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
}
