/* Colors */
$white: #fff;
$black: #000;
$half-black: rgb(0 0 0 / 50%);
$light-black: rgb(0 0 0 / 10%);
$dark-red: #b1002b;

/* Sizes */
$xxl: 64px;
$xl: 48px;
$l: 32px;
$m: 14px;
$s: 10px;
