@import "src/styles/variable";

.title-template {
  position: relative;

  & .subtitle {
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 100%;
    font-weight: 400;
    font-size: $m;
    color: $black;
  }
}

.title {
  font-family: Bitter, serif;
  font-weight: bold;

  &__error {
    font-size: $xxl;
    color: $dark-red;

    &__code {
      font-size: $m;
      color: $half-black;
      position: absolute;
      bottom: 75%;
      left: 100%;
      font-weight: bold;
    }
  }
}
