<div class="wrapper">
    <div class="form-template">
        {{> title title="Яндекс.Чат"}}
        {{> input id="signin-login-id" type="text" placeholder="Логин" class="input"}}
        {{> input id="signin-pass-id" type="password" placeholder="Пароль" class="input"}}
        {{> link href="/chat" text="ВОЙТИ" class="link__black"}}
        {{> link href="/signup" text="Зарегистрироваться"}}
    </div>
</div>
