@import url("../../styles/variable.scss");

.left-panel {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.left-panel_input {
  width: 100%;
  margin-right: $m;
}

.left-panel__button {
  align-self: center;
  min-width: fit-content;
  margin-right: 1em;
}

.left-panel__link {
  align-self: flex-end;
  background-color: white;
  color: black;
  margin: 1em;
}
