<main id="main-content">
    <div class="wrapper">
        <div class="error-template">
            {{> title title="ТАКОЙ СТРАНИЦЫ НЕТ" code="404" class="title__error"}}
            {{> link href="/signin" text="Вернуться на главную"}}
        </div>
    </div>
</main>
